body {
  background-color: #322e2e;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width: 95vw;
}
@media (max-width: 768px) {
  .center-image {
    width: 95vw;
    height: 95vh;
  }
}
